body{
    margin: 0px;
    padding: 0px;
    background: rgb(32, 32, 32);
    color: rgb(255, 255, 255);
    font-family: 'PT Sans', sans-serif;
    position: relative;
}

/*Sección Título*/

.titulo{
    display: inline-block;
    width: 100%;
    text-align: center;
    position: relative;
}

/*Sección Tabla Puntuación*/

.tablaPuntuacion{
    display: inline-block;
    width: 100%;
    position: relative;
}

.usuario, .maquina {
    width:50%;
    display: inline-block;
    position: relative;
    text-align: center;
}

.nombre, .puntuacion{
    display: inline-block;
}

.puntuacion{
    margin-left: 10px;
}

.zoom{
    animation: 1.2s zoom 1;
}

@keyframes zoom{

    30%{
        color: rgb(206, 76, 76);
        transform: 
            perspective(300px)
            translateZ(80px)
    }

    60%{
        color: rgb(206, 76, 76);
        transform: 
            perspective(300px)
            translateZ(0px)
    }

    100%{
        color: rgb(255, 255, 255);
        transform: 
            perspective(300px)
    }

}

/*Sección mensaje*/
#mensaje{
    top: 40%;
    left: 20%;
    position: absolute;
    background: rgba(68, 67, 67,0.9);
    text-align: center;
    width: 60%;
    z-index: 100;
    border-radius: 3px;
    padding: 5px;
}

.botonRed, .botonGreen, .botonOrange{
    width: 160px;
    display: inline-block;
    border-radius: 5px;
    border:1px solid rgb(255, 255, 255);
    margin: 10px 10px;
    cursor: pointer;
    transition: 0.1s;
}

.botonRed{
    background: rgb(206, 76, 76);
    position: relative;
}

.botonOrange{
    background: tomato;
    position: relative;
}

.botonGreen{
    background: rgb(72, 219, 72);
}

.botonRed:hover{
    color: rgb(206, 76, 76);
    background: white;
}

.botonRed:after{
    font-family: 'icomoon';
    content: "\e9ff";
    position: relative;
    font-size: 25px;
    bottom: 10px;
}

.botonGreen:after{
    font-family: 'icomoon';
    content: "\e9e1";
    position: relative;
    font-size: 25px;
    bottom: 10px;
}

.botonGreen:hover{
    color: rgb(72, 219, 72);
    background: white;
}

.botonOrange:hover{
    color: tomato;
    background: white;
}

.botonOrange:after{
    font-family: 'icomoon';
    content: "\ea01";
    position: relative;
    font-size: 25px;
    bottom: 10px;
}

/*Sección Tablero de Juego*/

.tableroJuego{
    width: 100%;
}

.filas{
    width: 100%;
    text-align: center;
}

.casilla{
    width: 80px;
    height: 80px;
    display: inline-block;
    background: rgb(255, 255, 255);
    transition: 0.1s;
}

.casilla:hover{
    background: tomato;
    cursor: pointer;
}

.unaX,.un0{
    position: absolute;
}

.unaX:before{
    font-family: 'icomoon';
    content: "\ea0f";
    color: rgb(32, 32, 32);
    position: relative;
    font-size: 70px;
    margin: 0 5px;
}

.un0:before{
    font-family: 'icomoon';
    content: "\ea56";
    color: rgb(32, 32, 32);
    position: relative;
    font-size: 70px;
    margin: 0 5px;
}

/*Zona Inferior*/
.zonaInferior{
    width: 100%;
}

.nuevaPartida{
    margin: 100px auto;
    text-align: center;
    border-radius: 5px;
    width: 150px;
    border:1px solid rgb(255, 255, 255);
    transition: 0.1s;
}

.nuevaPartida:hover{
    color: rgb(32, 32, 32);
    background:  rgb(255, 255, 255);
    border:1px solid rgb(255, 255, 255);
    cursor: pointer;
}

/*Medias*/

@media(max-width: 500px){
    body{
        font-size: 3.4vw;
    }

    .nuevaPartida{
        font-size: 4.5vw;
    }

    #mensaje{
        top: 30%;
        left: 0px;
        width: 100%;
        padding: 0px;
    }
}